* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#particles-js {
	flex-wrap: wrap;
	width: 100vw;
	height: 100vh;

	background: linear-gradient(45deg, rgb(10, 48, 33), rgba(62, 160, 226, 0.356));
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.con1 {
	display: flex;
	position: absolute;
	width: 30%;
	height: 30%;
	left: 10%;
	top: 40%;
	opacity: 0.6;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 6px;
	text-transform: uppercase;
	background: linear-gradient(25deg, rgb(158, 28, 170), rgb(43, 10, 10));

	transition: 0.9;
	overflow: hidden;
}
h5 {
	font-size: 7px;
}
.con1:hover {
	transform: translateY(-20px);
	box-shadow: 10px 10px 10px rgb(187, 182, 158);
}
.con2 {
	flex-wrap: wrap;
	position: absolute;
	width: 30%;
	height: 30%;
	left: 50%;
	top: 40%;
	border-radius: 5px;
	text-transform: uppercase;
	background: linear-gradient(25deg, rgb(158, 28, 170), rgb(43, 10, 10));
	opacity: 0.6;
	transition: 0.9;
	overflow: hidden;
}
h4 {
	font-size: 10px;
	margin: 1px;
}
.con2:hover {
	transform: translateY(-20px);
	box-shadow: 10px 10px 10px rgb(187, 182, 158);
	filter: blur(5px);
}
.cell {
	display: flex;
	position: absolute;
    justify-content: center;
	left: 35%;
	width: 30vh;
    height: 30vh;
	margin: 10px;
	opacity: 0.9;
	overflow: hidden;
	
}
